## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Berbera,SO,10.4396,45.0143,85.42,70,79,4.85,light rain
1,1,El Alto,PE,-4.2714,-81.2147,70.27,73,91,12.71,overcast clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,44.60,70,0,5.75,clear sky
3,3,Hasaki,JP,35.7333,140.8333,72.00,46,75,11.50,broken clouds
4,4,Pauini,BR,-7.7136,-66.9764,74.71,92,97,1.86,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
perferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
perferred_cities_df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Berbera,SO,10.4396,45.0143,85.42,70,79,4.85,light rain
1,1,El Alto,PE,-4.2714,-81.2147,70.27,73,91,12.71,overcast clouds
3,3,Hasaki,JP,35.7333,140.8333,72.00,46,75,11.50,broken clouds
4,4,Pauini,BR,-7.7136,-66.9764,74.71,92,97,1.86,overcast clouds
5,5,Morant Bay,JM,17.8815,-76.4093,78.80,69,20,5.75,few clouds
...,...,...,...,...,...,...,...,...,...,...
677,677,Khonsa,IN,27.0167,95.5667,88.36,20,30,6.69,scattered clouds
678,678,Polis,CY,35.0367,32.4264,68.00,68,0,2.30,clear sky
685,685,Guamal,CO,9.1433,-74.2238,74.95,96,58,3.62,broken clouds
687,687,Manama,BH,26.2154,50.5832,87.80,35,0,4.61,clear sky
689,689,Tautira,PF,-17.7333,-149.1500,77.00,83,75,4.61,light rain

In [5]:
# 4a. Determine if there are any empty rows.
perferred_cities_df.count()

Unnamed: 0             296
City                   296
Country                296
Lat                    296
Lng                    296
Max Temp               296
Humidity               296
Cloudiness             296
Wind Speed             296
Current Description    296
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = perferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Berbera,SO,85.42,light rain,10.4396,45.0143,
1,El Alto,PE,70.27,overcast clouds,-4.2714,-81.2147,
3,Hasaki,JP,72.00,broken clouds,35.7333,140.8333,
4,Pauini,BR,74.71,overcast clouds,-7.7136,-66.9764,
5,Morant Bay,JM,78.80,few clouds,17.8815,-76.4093,
10,Beni Mazar,EG,76.33,clear sky,28.4962,30.8029,
11,Butaritari,KI,83.34,broken clouds,3.0707,172.7902,
12,Hazorasp,UZ,68.00,clear sky,41.3194,61.0742,
16,Atuona,PF,80.31,scattered clouds,-9.8000,-139.0333,
18,Auki,SB,82.67,broken clouds,-8.7676,160.7034,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.drop(hotel_df[hotel_df["Hotel Name"] == ""].index, inplace = True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Berbera,SO,85.42,light rain,10.4396,45.0143,IBCO REAL ESTATE PROPERTY
1,El Alto,PE,70.27,overcast clouds,-4.2714,-81.2147,Black Marlin Restaurant & Hospedaje
3,Hasaki,JP,72.00,broken clouds,35.7333,140.8333,Hotel Sunrise Choshi
4,Pauini,BR,74.71,overcast clouds,-7.7136,-66.9764,Casa do Kiwliks
5,Morant Bay,JM,78.80,few clouds,17.8815,-76.4093,Whispering Bamboo Cove Resort
...,...,...,...,...,...,...,...
673,Payakumbuh,ID,82.02,scattered clouds,-0.2202,100.6308,OYO 3114 Homestay Dalimo
675,Dakoro,NE,81.03,overcast clouds,14.5106,6.7650,Shagon mai liverpool
678,Polis,CY,68.00,clear sky,35.0367,32.4264,Marion
687,Manama,BH,87.80,clear sky,26.2154,50.5832,Al Safir Hotel & Tower
689,Tautira,PF,77.00,light rain,-17.7333,-149.1500,Pension Oaoa

In [11]:
# 8a. Create the output File (CSV)
output_data_file = ("WeatherPy_vacation.csv")
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and Maximum temperature = {Max Temp} °F</dd>
</dl>
"""

In [13]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [14]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))